<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>DASHGUM - Bootstrap Admin Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!--引入样式文件-->
    <link rel="stylesheet" href="/static/md/css/editormd.css"/>
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/assets/css/style-responsive.css" rel="stylesheet">
    <!--引入js文件-->
    <script src="/static/assets/js/jquery-1.8.3.min.js"></script>
    <script src="/static/md/lib/marked.min.js"></script>
    <script src="/static/md/lib/prettify.min.js"></script>
    <script src="/static/md/lib/raphael.min.js"></script>
    <script src="/static/md/lib/underscore.min.js"></script>
    <script src="/static/md/lib/sequence-diagram.min.js"></script>
    <script src="/static/md/lib/flowchart.min.js"></script>
    <script src="/static/md/lib/jquery.flowchart.min.js"></script>
    <script src="/static/md/editormd.js"></script>
</head>

<body>

<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>DASHGUM FREE</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-theme">4</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">DashGum Admin Panel</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-theme">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="/static/assets/img/ui-zac.jpg"></span>
                                <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="/static/assets/img/ui-divya.jpg"></span>
                                <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="/static/assets/img/ui-danro.jpg"></span>
                                <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                <span class="message">
                                        Love your new Dashboard.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <span class="photo"><img alt="avatar" src="/static/assets/img/ui-sherman.jpg"></span>
                                <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                <span class="message">
                                        Please, answer asap.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html#">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    {{template "public/layout.html" .}}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>编辑/添加博客</h3>

            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <form class="form-horizontal style-form" method="post">
                            <div class="form-group">
                                <label class="col-sm-1 col-sm-2 control-label">标题</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" {{if .Blog }} value="{{.Blog.Title}}"{{end}} class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 col-sm-2 control-label">短标题</label>
                                <div class="col-sm-10">
                                    <input type="text" name="short_title" {{if .Blog }} value="{{.Blog.Short_title}}"{{end}} class="form-control">
                                    <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 col-sm-2 control-label">是否显示</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" name="display" value="0" {{if .Blog}}{{if eq .Blog.Display 0}}checked{{end}}{{end}}> 否
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" name="display" value="1" {{if .Blog}}{{if eq .Blog.Display 1}}checked{{end}}{{else}}checked{{end}}> 是
                                    </label>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 col-sm-2 control-label">是否启用</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" name="status" value="0" {{if .Blog}}{{if eq .Blog.Status 0}}checked{{end}}{{end}}> 否
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox4" name="status" value="1" {{if .Blog}}{{if eq $.Blog.Status 1}}checked{{end}}{{else}}checked{{end}}> 是
                                    </label>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 col-sm-2 control-label">内容</label>
                                <div class="col-sm-10">
                                    <div id="test-editormd">
                                        <textarea name="content" style="display:none;" id="ts"></textarea>
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">
                                .bsubmit{
                                    position: fixed;
                                    bottom: 50px;
                                    float: right;
                                }
                            </style>
                            <div class="form-group">
                                <div class="bsubmit">
                                    <label class="col-sm-1 col-sm-2 control-label"><button class="btn btn-primary">提交</button></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->
        </section>
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2014 - Alvarez.is - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
            - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            <a href="form_component.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

</body>
<script src="/static/assets/js/jquery.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/static/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/assets/js/jquery.scrollTo.min.js"></script>
<script src="/static/assets/js/jquery.nicescroll.js" type="text/javascript"></script>

<!--common script for all pages-->
<script src="/static/assets/js/common-scripts.js"></script>

<!--script for this page-->
<script src="/static/assets/js/jquery-ui-1.9.2.custom.min.js"></script>

<!--custom switch-->
<script src="/static/assets/js/bootstrap-switch.js"></script>

<!--custom tagsinput-->
<script src="/static/assets/js/jquery.tagsinput.js"></script>
<script src="/static/assets/js/form-component.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

<!--custom checkbox & radio-->

<script type="text/javascript">
    //    调用编辑器
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 1000,
            syncScrolling: "single",
            path: "/static/md/lib/",
            {{if .Blog}}value:"{{.Blog.Content}}"{{end}}
        });
    });
</script>
</html>


